<app-sidebar></app-sidebar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>




<main id="main" class="main mt-5 p-0" style="margin-left: 250px;  ">
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <div class="container-fluid px-6">
   
          <div class="row bg-white px-3 py-4 mt-3 rounded">
              <div class="col-md-16">
   

                    <div class="pb-1 mt-5">
                        <h4 class="font-weight-700 text-center">SAFETY PERFORMANCE HISTORY RECORDS REQUEST</h4>
                        <table class="table table-bordered border-dark">
                            <thead>
                                <tr>
                                    <td class="font-weight-700" colspan="8" style="text-align: center;">Part 1:</td>
                                    <td class="font-weight-700" colspan="8" style="text-align: center;">TO BE
                                        COMPLETED BY PROSPECTIVE EMPLOYEE</td>
                                </tr>
                            </thead>
                        </table>

                        <form class="row g-3">
                            <div class="row mt-3">

                                <div class="col-md-8">
                                    <label for="validationDefault01" class="form-label">I Print Name</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-2 mt-3">
                                </div>
                                <div class="col-md-2">
                                    <label for="validationDefault01" class="form-label">Social Security Number
                                    </label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-2 mt-3">
                                    <label for="validationDefault01" class="form-label"> Hereby authorize</label>
                                </div>
                                <div class="col-md-8 mt-3">
                                    <label for="validationDefault01" class="form-label">&nbsp;</label>
                                </div>
                                <div class="col-md-2 mt-3">
                                    <label for="validationDefault01" class="form-label"> Date of Birth</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>

                                <div class="col-md-10 mt-3">
                                    <label for="validationDefault01" class="form-label">Previous Employer:</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-2 mt-3">
                                    <label for="validationDefault01" class="form-label"> Email</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>

                            </div>


                            <div class="row mt-3">

                                <div class="col-md-9">
                                    <label for="validationDefault01" class="form-label">Street</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>

                                <div class="col-md-3">
                                    <label for="validationDefault01" class="form-label">Telephone</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>

                                <div class="col-md-9 mt-3">
                                    <label for="validationDefault01" class="form-label">City, State, Zip</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>

                                <div class="col-md-3 mt-3">
                                    <label for="validationDefault01" class="form-label">Fax No.</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-8 mt-3">
                                    <label for="validationDefault01" class="form-label">To release and forward the
                                        information requested by section 3 of this document concerning my Alcohol
                                        and<br> Controlled
                                        Substances Testing records within the previous 3 years from </label>
                                </div>

                                <div class="col-md-4 mt-3">
                                    <label for="validationDefault01" class="form-label">(employment application
                                        date)</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <label for="validationDefault01" class="form-label"> To </label>
                                </div>
                                <div class="col-md-10 mt-3">
                                    <label for="validationDefault01" class="form-label"> Prospective Employer:
                                    </label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-2 mt-3">
                                    <label for="validationDefault01" class="form-label"> &nbsp; </label>
                                </div>
                                <div class="col-md-10 mt-3">
                                    <label for="validationDefault01" class="form-label"> Attention: </label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-2 mt-3">
                                    <label for="validationDefault01" class="form-label"> &nbsp; </label>
                                </div>
                                <div class="col-md-10 mt-3">
                                    <label for="validationDefault01" class="form-label"> Telephone: </label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-2 mt-3">
                                    <label for="validationDefault01" class="form-label"> &nbsp; </label>
                                </div>
                                <div class="col-md-10 mt-3">
                                    <label for="validationDefault01" class="form-label"> City, State, Zip: </label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>


                                <div class="col-md-12 mt-3">
                                    <label for="validationDefault01" class="form-label"> In compliance with
                                        §40.25(g) and 391.23(h), release of this information must be made in a
                                        written form that ensures
                                        confidentiality, such as fax, email, or letter.</label>
                                </div>
                                <div class="col-md-8 mt-3">
                                    <label for="validationDefault01" class="form-label"> Prospective employer’s fax
                                        number</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-8 mt-3">
                                    <label for="validationDefault01" class="form-label"> Prospective employer’s
                                        email address</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-4 mt-3">

                                </div>
                                <div class="col-md-4 mt-3">
                                    <label for="validationDefault01" class="form-label"> Applicant’s
                                        Signature</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>

                                <div class="col-md-4 mt-3">
                                    <label for="validationDefault01" class="form-label"> Date</label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>

                            </div>
                            <div class="row mt-3">This information is being requested in compliance with §40.25(g)
                                and 391.23.</div>


                            <hr class="mt-5 mb-5" style="border-bottom: 1px dashed !important; margin-top: 20px;">

                        </form>

                    </div>

                    <div class="pb-1 mt-5">
                        <h4 class="font-weight-700 text-center">SAFETY PERFORMANCE HISTORY RECORDS REQUEST</h4>
                        <h4 class="font-weight-700 text-center">ACCIDENT HISTORY</h4>
                        <table class="table table-bordered border-dark">
                            <thead>
                                <tr>
                                    <td class="font-weight-700" colspan="8" style="text-align: center;">Part 2:</td>
                                    <td class="font-weight-700" colspan="8" style="text-align: center;">TO BE
                                        COMPLETED BY PREVIOUS EMPLOYER</td>
                                </tr>
                            </thead>
                        </table>

                        <form class="row g-3">
                            <div class="row mt-3">
                                <div class="col-md-12">The applicant named above was employed by us.
                                    <span>
                                        <input type="radio" id="html" name="fav_language" value="HTML">
                                        &nbsp; <label for="html">Yes</label>
                                        &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                        &nbsp; <label for="css">No</label><br>
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <label for="validationDefault01" class="form-label">Employed as </label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-2">
                                    <label for="validationDefault01" class="form-label">from (m/y) </label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-2">
                                    <label for="validationDefault01" class="form-label">to (m/y) </label>
                                    <input type="text" class="form-control dp-form" id="validationDefault01" value=""
                                        required="">
                                </div>
                                <div class="col-md-12 mt-3">
                                    1. Did he/she drive motor vehicle for you?
                                    <span>

                                        &nbsp; <label for="html">Yes</label>
                                        <input type="radio" id="html" name="fav_language" value="HTML">
                                        &nbsp; <label for="css">No</label>
                                        &nbsp; <input type="radio" id="css" name="fav_language" value="CSS"> &nbsp;
                                        If yes, what type? Straight Truck
                                    </span>
                                    <span class="me-1">
                                        <input type="radio" id="html" name="fav_language" value="HTML">
                                        &nbsp; <label for="html">Tractor-Semitrailer</label>
                                        &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                        &nbsp; <label for="css">Bus</label>
                                        &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                        &nbsp; <label for="css">Cargo Tank</label>
                                        &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                        &nbsp; <label for="css">Doubles/Triples</label>
                                        &nbsp; <input type="radio" id="css" name="fav_language" value="CSS"> &nbsp;
                                        Other (Specify) <input type="text" class="form-control dp-form"
                                            id="validationDefault01" value="" required="">
                                    </span>

                                </div>
                                <div class="col-md-12 mt-3">
                                    2. Reason for leaving your employ:
                                    <span>

                                        &nbsp; <label for="html">Discharged</label>
                                        <input type="radio" id="html" name="fav_language" value="HTML">
                                        &nbsp; <label for="css">Resignation</label>
                                        &nbsp; <input type="radio" id="css" name="fav_language" value="CSS"> &nbsp;
                                        If yes, what type? Straight Truck
                                    </span>
                                    <span class="me-1">
                                        <input type="radio" id="html" name="fav_language" value="HTML">
                                        &nbsp; <label for="html">Lay Off</label>
                                        &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                        &nbsp; <label for="css">Military Duty</label>
                                        If there is no safety performance history to report, check here &nbsp;
                                        <input type="radio" id="css" name="fav_language" value="CSS"> sign below and
                                        return.
                                    </span>

                                </div>
                                <div class="col-md-12 mt-3">
                                    <p><b>ACCIDENTS:</b> Complete the following for any accidents included on your
                                        accident register (§390.15(b)) that involved the
                                        applicant in the 3 years prior to the application date shown above, or check
                                         here if there is no accident register data for
                                        this driver.</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 mt-3">
                                        <label for="validationDefault01" class="form-label"> Date</label>
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-2 mt-3">
                                        <label for="validationDefault01" class="form-label"> Location</label>
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-2 mt-3">
                                        <label for="validationDefault01" class="form-label"> # Injuries</label>
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <label for="validationDefault01" class="form-label"> # Fatalities</label>
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-3 mt-3 p-0">
                                        <label for="validationDefault01" class="form-label"> Hazmat Spill</label>
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 mt-3">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-2 mt-3">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-2 mt-3">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-3 mt-3 p-0">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 mt-3">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-2 mt-3">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-2 mt-3">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-3 mt-3 p-0">
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                </div>
                                <div class="row mt-3 p-0">
                                    <label for="validationDefault01" class="form-label"> Please provide information
                                        concerning any other accidents involving the applicant that were reported to
                                        government
                                        agencies or insurers or retained under internal company policies <input
                                            type="text" class="form-control dp-form" id="validationDefault01" value=""
                                            required=""> </label>
                                    <label><input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required=""> </label>
                                </div>
                                <div class="row mt-3 p-0">
                                    <label for="validationDefault01" class="form-label"> Any other remarks: <input
                                            type="text" class="form-control dp-form" id="validationDefault01" value=""
                                            required=""> </label>
                                    <label><input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required=""> </label>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label for="validationDefault01" class="form-label "> Signature </label>
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <label for="validationDefault01" class="form-label "> Title </label>
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="validationDefault01" class="form-label "> Date </label>
                                        <input type="text" class="form-control dp-form" id="validationDefault01"
                                            value="" required="">
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-5 mb-5" style="border-bottom: 1px dashed !important; margin-top: 20px;">
                        </form>
                    </div>



                </div>
            </div>
        </div>
    </div>
    
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="text-dark text-center">
        <span class="text-muted fw-semibold me-1">2023© all rights reserved</span>
        <a href="#" class="font-weight-700 text-hover-dark text-dark text-uppercase">3PL TEK INC.</a>
    </div>

</footer><!-- End Footer -->