<app-sidebar></app-sidebar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


   

<main id="main" class="main mt-5 p-0" style="margin-left: 250px;  ">
  <div id="kt_app_content" class="app-content flex-column-fluid">
      <div class="container-fluid px-6">
 
        <div class="row bg-white px-3 py-4 mt-3 rounded">
            <div class="col-md-16">
 
                
                            <div class="pb-3">
                              
                              <div class="pb-4">
                                  <h3 class="text-center">DRIVER EMPLOYMENT APPLICATION</h3>
                                  <p class="text-center">Company Name, Address, Phone Number, Email<br>An Equal Opprotunity Employer </p>
                              </div>                       
                            </div>

                        <div class="pb-1">
                              <p>Complete in full or it will not be considered</p>
                            <table class="table table-bordered border-dark">                              
                                <thead>
                                  <!-- <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="18" style="text-align: center; color: #fff;">Applicant Information</td>
                                  </tr> -->

                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="18" style="text-align: center; background: #565a70; color: whitesmoke;">Applicant Information</td>
                                  </tr>
                                  
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td>First Name </td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                    <td>Middle Name</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                    <td>Last Name</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Phone Number</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                    <td>Email</td>
                                    <td colspan="3"><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Date of Birth</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                    <td>Social Security #</td>
                                    <td colspan="3"><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Date of Application</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                    <td>Position Applied For</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                    <td>Date Available For Work</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td colspan="8">Do you have legal right to work in the United States? &nbsp; &nbsp;
                                      <input type="radio" id="html" name="fav_language" value="HTML">
                                      &nbsp; <label for="html">Yes</label>
                                      &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                      &nbsp; <label for="css">No</label><br>
                                    </td>
                                                             
                                </tbody>
                            </table>
                              
                        </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="8" style="text-align: center; background: #565a70; color: #fff;">Previous Three Years Residency</td>
                                  </tr>
                                  <tr><td colspan="6" class="text-center">Attach additional sheet if more space is needed</td></tr>
                                  <tr>
                                    <th>&nbsp;</th>
                                    <th>Street</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip Code</th>
                                    <th># of Years at Address</th>                                   
                                  </tr>
                                  
                                  
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td>Current</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Mailing</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Previous</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Previous</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Previous</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="8" style="text-align: center; background: #565a70; color: #fff;">License Information</td>
                                  </tr>
                                  <tr>
                                    <td colspan="6" class="text-center">No person who oprates a commercial motor vehicle shall at any time have more than one driver's license (49 CFR 383.21)
                                    i certify that i do not have more than one motor vehicle license, the information for which is listed below. Include all licenses held for the past 3 years;
                                    attach additional sheets if needed.
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>State</th>
                                    <th>License #</th>
                                    <th>Type/Class</th>
                                    <th>Endorsements</th>
                                    <th>Expiration Date</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td colspan="5" class="text-center">Previously Held Licenses</td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="8" style="text-align: center; background: #565a70; color: #fff;">Driving Experience</td>
                                  </tr>
                                  <tr>
                                    <th>Class of Equipment</th>
                                    <th>Type of Equipment (Van, Tank, Flat, Etc.)</th>
                                    <th>Date From</th>
                                    <th>Date To</th>
                                    <th>Approx # of Miles (Total)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td>Straight Truck</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  
                                  <tr>
                                    <td>Tractor & Semi Trailor</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Tractor & 2 Trailor</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Tractor & Tanker</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Other</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="8" style="text-align: center; background: #565a70; color: #fff;">Accident Record for the Past Three Year</td>
                                  </tr>
                                  <tr><td colspan="5" class="text-center">Attach additional sheet if more space is needed. check this box if none <input type="checkbox"></td></tr>
                                  <tr>
                                    <th>Dates (List most recent first)</th>
                                    <th>Nature of Accident (Head on, rear end, upset, etc.)</th>
                                    <th># Fatalities</th>
                                    <th># Injuries</th>
                                    <th>Chemical Spills (Y/N)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="8" style="text-align: center; background: #565a70; color: #fff;">Traffic Convictions and for The Past 3 Years (Other than parking violations)</td>
                                  </tr>
                                  <tr><td colspan="5" class="text-center">Attach additional sheet if more space is needed. check this box if none <input type="checkbox"></td></tr>
                                  <tr>
                                    <th>Date Convicted (Month/Year)</th>
                                    <th>Violation</th>
                                    <th>State of Violation</th>
                                    <th>Penalty (forfeited bond, collateral and/or points)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">  
                                <tbody>
                                  <tr>
                                    <td colspan="14">Have you ever been denied a license, permit, or privilege to oprate a motor vehicle ? If yes explain</td>
                                    <td>
                                      <input type="radio" id="html" name="fav_language" value="HTML">
                                      &nbsp; <label for="html">Yes</label>
                                      &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                      &nbsp; <label for="css">No</label><br>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="14">Has any license, permit, or prilege ever been suspended or revoked? If yes explain</td>
                                    <td>
                                      <input type="radio" id="html" name="fav_language" value="HTML">
                                      &nbsp; <label for="html">Yes</label>
                                      &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                      &nbsp; <label for="css">No</label><br>
                                    </td>
                                  </tr>
                                 
                                </tbody>
                              </table>
                            </div>
                            
                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="15" style="text-align: center; background: #565a70; color: #fff;">Employment History</td>
                                  </tr>
                                  <tr>
                                    <td colspan="15" class="text-center">
                                        The Fedral Motor Carrier Safety Regulations (49 CFR 391.21) require that all the applicantswishing to drive a commercial vehicle list all employment for the last
                                        three (3) years.<br> <b>In addition, if you have driven a commercial vehicle Previously, you must provide employment history for an additional seven (7) years (for a total of ten (10) years).
                                        Any gaps any employment in excess of one (1) month must be explained.</b>
                                        <p>Start with the last or current position, Including any military experience, and work backwards (attach seprate sheets if necessary). You are
                                          required to list the complete mailing address, including street number, city, state, zip; and complete all other information.
                                        </p>
                                    </td>
                                  </tr>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="15" style="text-align: center; background: #565a70; color: #fff;">Current (Most Recent) Employer</td>
                                  </tr>
                                  
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td>Name</td>
                                    <td colspan="12"><input type="text" class="form-control "></td>
                                    <td>Phone</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Address</td>
                                    <td colspan="15"><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Position Held</td>
                                    <td colspan="5"><input type="text" class="form-control "></td>
                                    <td>From MO/YR</td>
                                    <td colspan="6"><input type="text" class="form-control "></td>
                                    <td>To MO/YR</td>
                                    <td colspan="5"><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Reason for Leaving</td>
                                    <td colspan="12"><input type="text" class="form-control "></td>
                                    <td>Salary</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Explain any Gaps in Employment<br>(Include monthly/year & reason)</td>
                                    <td colspan="15"><input type="text" class="form-control "></td>
                                  </tr>   
                                  <tr>
                                    <td colspan="14">While employed here, were you subject to the Fedral Motor Carrier Safety Regulations?</td>
                                    <td>
                                      <input type="radio" id="html" name="fav_language" value="HTML">
                                        <label for="html">Yes</label>
                                        <input type="radio" id="css" name="fav_language" value="CSS">
                                        <label for="css">No</label><br>
                                    </td>
                                </tr>
                                <tr>
                                  <td colspan="14">Was the job designated as a safety-sensitive function in any Department of Transportation-regulated mode subject to alcohol and controlled
                                    substance testing as required by 49 CFR, part 40?
                                  </td>
                                  <td>
                                    <input type="radio" id="html" name="fav_language" value="HTML">
                                      <label for="html">Yes</label>
                                      <input type="radio" id="css" name="fav_language" value="CSS">
                                      <label for="css">No</label><br>
                                  </td>
                                </tr>                               
                                </tbody>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="15" style="text-align: center; background: #565a70; color: #fff;">Second (Most Recent) Employer</td>
                                  </tr>
                                  
                                  
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td>Name</td>
                                    <td colspan="12"><input type="text" class="form-control "></td>
                                    <td>Phone</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Address</td>
                                    <td colspan="15"><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Position Held</td>
                                    <td colspan="5"><input type="text" class="form-control "></td>
                                    <td>From MO/YR</td>
                                    <td colspan="6"><input type="text" class="form-control "></td>
                                    <td>To MO/YR</td>
                                    <td colspan="5"><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Reason for Leaving</td>
                                    <td colspan="12"><input type="text" class="form-control "></td>
                                    <td>Salary</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Explain any Gaps in Employment<br>(Include monthly/year & reason)</td>
                                    <td colspan="15"><input type="text" class="form-control "></td>
                                  </tr> 
                                  <tr>
                                    <td colspan="14">While employed here, were you subject to the Fedral Motor Carrier Safety Regulations?</td>
                                    <td>
                                      <input type="radio" id="html" name="fav_language" value="HTML">
                                        <label for="html">Yes</label>
                                        <input type="radio" id="css" name="fav_language" value="CSS">
                                        <label for="css">No</label><br>
                                    </td>
                                </tr>
                                <tr>
                                  <td colspan="14">Was the job designated as a safety-sensitive function in any Department of Transportation-regulated mode subject to alcohol and controlled
                                    substance testing as required by 49 CFR, part 40?
                                  </td>
                                  <td>
                                    <input type="radio" id="html" name="fav_language" value="HTML">
                                      <label for="html">Yes</label>
                                      <input type="radio" id="css" name="fav_language" value="CSS">
                                      <label for="css">No</label><br>
                                  </td>
                                </tr>                                 
                                </tbody>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="15" style="text-align: center; background: #565a70; color: #fff;">Third (Most Recent) Employer</td>
                                  </tr>
                                  
                                  
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td>Name</td>
                                    <td colspan="12"><input type="text" class="form-control "></td>
                                    <td>Phone</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Address</td>
                                    <td colspan="15"><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Position Held</td>
                                    <td colspan="5"><input type="text" class="form-control "></td>
                                    <td>From MO/YR</td>
                                    <td colspan="6"><input type="text" class="form-control "></td>
                                    <td>To MO/YR</td>
                                    <td colspan="5"><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Reason for Leaving</td>
                                    <td colspan="12"><input type="text" class="form-control "></td>
                                    <td>Salary</td>
                                    <td colspan=""><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Explain any Gaps in Employment<br>(Include monthly/year & reason)</td>
                                    <td colspan="15"><input type="text" class="form-control "></td>
                                  </tr> 
                                  <tr>
                                    <td colspan="14">While employed here, were you subject to the Fedral Motor Carrier Safety Regulations?</td>
                                    <td>
                                      <input type="radio" id="html" name="fav_language" value="HTML">
                                        <label for="html">Yes</label>
                                        <input type="radio" id="css" name="fav_language" value="CSS">
                                        <label for="css">No</label><br>
                                    </td>
                                </tr>
                                <tr>
                                  <td colspan="14">Was the job designated as a safety-sensitive function in any Department of Transportation-regulated mode subject to alcohol and controlled
                                    substance testing as required by 49 CFR, part 40?
                                  </td>
                                  <td>
                                    <input type="radio" id="html" name="fav_language" value="HTML">
                                      <label for="html">Yes</label>
                                      <input type="radio" id="css" name="fav_language" value="CSS">
                                      <label for="css">No</label><br>
                                  </td>
                                </tr>                                 
                                </tbody>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="8" style="text-align: center; background: #565a70; color: #fff;">Education</td>
                                  </tr>
                                 
                                    <th>School</th>
                                    <th>Name & Location</th>
                                    <th>Course of Study</th>
                                    <th>Years Completed</th>
                                    <th>Graduate</th>
                                    <th>Details</th>
                                  
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td>High School</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "><td>
                                      <input type="radio" id="html" name="fav_language" value="HTML">
                                      &nbsp; <label for="html">Yes</label>
                                      &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                      &nbsp; <label for="css">No</label><br>
                                    </td></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>College</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "><td>
                                      <input type="radio" id="html" name="fav_language" value="HTML">
                                      &nbsp; <label for="html">Yes</label>
                                      &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                      &nbsp; <label for="css">No</label><br>
                                    </td></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  <tr>
                                    <td>Other</td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "></td>
                                    <td><input type="text" class="form-control "><td>
                                      <input type="radio" id="html" name="fav_language" value="HTML">
                                      &nbsp; <label for="html">Yes</label>
                                      &nbsp; <input type="radio" id="css" name="fav_language" value="CSS">
                                      &nbsp; <label for="css">No</label><br>
                                    </td></td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="8" style="text-align: center; background: #565a70; color: #fff;">Other qualifications</td>
                                  </tr>
                                  <tr><td>Please list any other qualifications that you have and which you believe should be considered</td></tr>
                                </thead>
                              </table>
                            </div>

                            <div class="pb-1">
                              <table class="table table-bordered border-dark">                              
                                <thead>
                                  <tr style="background: #565a70;">
                                    <td class="font-weight-700" colspan="8" style="text-align: center; background: #565a70; color: #fff;">To Be Read and Signed By Applicant</td>
                                  </tr>
                                  <tr><td colspan="6"><p>I authorize you to make investigations (including contacting current and prior employers) into my personal, employment, financial, medical history,
                                        and other related matters as may be necessary in arriving at an employment decision. I hereby release employers, schools, health care providers, and other persons from all liability in responding to inquiries and releasing information in connection with my application.</p>
                                        <p>In the event of employment, I understand that false or misleading information given in my application or interview(s) may result in discharge. I also understand that I am required to abide by all rules and regulations of the Company.</p>
                                        <p>I understand that the information I provide regarding my current and/or prior employers may be used, and those employer(s) will be contacted for the purpose of investigating my safety performance history as required by 49 CFR 391.23. I understand that I have the right to:</p>
                                        
                                        <p> &rarr; Review information provided by current/previous employers;</p>

                                        <p> &rarr; Have errors in the information corrected by previous employers, and for those previous employers to resend the corrected information to the prospective employer; and</p>
                                    
                                        <p> &rarr; Have a rebuttal statement attached to the alleged erroneous information, if the previous employer(s) and I cannot agree on the accuracy of the information.</p>

                                        <p>This certifies that I completed this application, and that all entries on it and information in it are true and complete to the best of my knowledge. Note: A motor carrier may require an applicant to provide more information than that required by the Federal Motor Carrier Safety Regulations.</p>
                                      </td>
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                    <td>Applicant Signature</td>
                                    <td colspan="2"><input type="text" class="form-control "></td>
                                    <td>Date</td>
                                    <td><input type="text" class="form-control "></td>
                                  </tr>
                                   
                                  <tr>
                                    <td>Applicant Name (printed)</td>
                                    <td colspan="5"><input type="text" class="form-control "></td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>
                            
                            
              
                  </div>
              </div>
          </div>
        </div>
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="text-dark text-center">
      <span class="text-muted fw-semibold me-1">2023© all rights reserved</span>
      <a href="#" class="font-weight-700 text-hover-dark text-dark text-uppercase">3PL TEK INC.</a>
    </div>