td {
  display: flex;
  justify-content: center;
  align-items: center;
}



.container {
  background: #f5f7fb;
  border-radius: 5px;
  height: calc(100vh - 97px );
}
.people-list {
  float: left;
  flex: 0 0 30%;
}
.people-list .form-group {
  padding: 15px 20px;
}

.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 15px 20px;
  height: 100%;
  overflow: auto;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list ul li:last-child {
  margin-bottom: 35px;
}
.people-list img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
.people-list ul li .about .name span{
  background: rgba(239,71,111,.18);
  display: inline-block;
  width: 32px;
  height: fit-content;
  text-align: center;
  border-radius: 50px;
  padding: 0px 5px;
  color: #ef476f;
}
.people-list .user-status {
  color: #92959E;
}

.chat {
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f1f1f1;
}
.chat .chat-header img {
  width: 45px;
  height: 45px;
}
.chat .chat-header .chat-about {
 
}
/*.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}*/
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
/*.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}*/
.chat .chat-history {
  padding: 15px 20px;
  border-bottom: 2px solid white;
  overflow-y: auto;
  height: calc(100vh - 300px);
  background: url(../images/bg/chat-bg.png);
  background-size: cover;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  padding: 18px 20px;
  border-radius: 7px;
  margin-bottom: 30px;
  min-width: 40%;
  max-width: 80%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #e6ecf3;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #e6ecf3;
  color: #7792b1;
}
.chat .chat-history .my-message p{
  color: #7792b1;
}
.chat .chat-history .other-message {
  background: #6689e4;
  text-align: right;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #6689e4;
  left: 93%;
}
.chat .chat-message {
  padding: 15px 20px;
  border-top: 2px solid #f1f1f1;
}
.chat .chat-message input {
  border-top-right-radius:0 !important;
  border-bottom-right-radius:0 !important;
}

.chat .chat-message .other-option .avatar-xs{
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  line-height: 2rem;
  background-color: rgb(0 71 189 / 15%);
  border-color: rgb(0 71 189 / 14%);
}
.chat .chat-message .other-option .avatar-xs:hover{
  background-color: rgb(0 71 189 / 24%);
}
.online {
  color: #86BB71;
}

.offline {
  color: #e27c56;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
.typing {
  position: relative;
}
.typing span {
  content: "";
  -webkit-animation: blink 1.5s infinite;
          animation: blink 1.5s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  height: 10px;
  width: 10px;
  background: #3b5998;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.typing span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  margin-left: 15px;
}
.typing span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  margin-left: 30px;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}