<app-sidebar></app-sidebar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>






<main id="main" class="main mt-5 p-0" style="margin-left: 250px;  ">
  <div id="kt_app_content" class="app-content flex-column-fluid">
      <div class="container-fluid px-6">
 
        <div class="row bg-white px-3 py-4 mt-3 rounded">
            <div class="col-md-16">
 
                
                           

                            <div class="pb-1 mt-5">
                              <h4 class="font-weight-700 text-center">THE BELOW DISCLOSURE AND AUTHORIZATION LANGUAGE IS FOR MANDATORY USE BY ALL <br>
                                ACCOUNT HOLDERS
                              </h4>
                              <h4 class="font-weight-700 text-center mt-5">IMPORTANT DISCLOSURE<br>
                                REGARDING BACKGROUND REPORTS FROM THE PSP Online Service</h4>
                              <p class="mt-5">In connection with your application for employment with _____________________________ (“Prospective Employer”), Prospective
                                Employer, its employees, agents or contractors may obtain one or more reports regarding your driving, and safety inspection history
                                from the Federal Motor Carrier Safety Administration (FMCSA).</p>
                              <p>When the application for employment is submitted in person, if the Prospective Employer uses any information it obtains from FMCSA
                                in a decision to not hire you or to make any other adverse employment decision regarding you, the Prospective Employer will provide
                                you with a copy of the report upon which its decision was based and a written summary of your rights under the Fair Credit Reporting
                                Act before taking any final adverse action. If any final adverse action is taken against you based upon your driving history or safety
                                report, the Prospective Employer will notify you that the action has been taken and that the action was based in part or in whole on this
                                report.</p>
                              <p>When the application for employment is submitted by mail, telephone, computer, or other similar means, if the Prospective Employer
                                uses any information it obtains from FMCSA in a decision to not hire you or to make any other adverse employment decision regarding
                                you, the Prospective Employer must provide you within three business days of taking adverse action oral, written or electronic
                                notification: that adverse action has been taken based in whole or in part on information obtained from FMCSA; the name, address, and
                                the toll free telephone number of FMCSA; that the FMCSA did not make the decision to take the adverse action and is unable to provide
                                you the specific reasons why the adverse action was taken; and that you may, upon providing proper identification, request a free copy
                                of the report and may dispute with the FMCSA the accuracy or completeness of any information or report. If you request a copy of a
                                driver record from the Prospective Employer who procured the report, then, within 3 business days of receiving your request, together
                                with proper identification, the Prospective Employer must send or provide to you a copy of your report and a summary of your rights
                                under the Fair Credit Reporting Act</p>
                              <p>Neither the Prospective Employer nor the FMCSA contractor supplying the crash and safety information has the capability to correct
                                any safety data that appears to be incorrect. You may challenge the accuracy of the data by submitting a request to
                                https://dataqs.fmcsa.dot.gov. If you challenge crash or inspection information reported by a State, FMCSA cannot change or correct this
                                data. Your request will be forwarded by the DataQs system to the appropriate State for adjudication</p>
                              <p>Any crash or inspection in which you were involved will display on your PSP report. Since the PSP report does not report, or assign, or
                                imply fault, it will include all Commercial Motor Vehicle (CMV) crashes where you were a driver or co-driver and where those crashes
                                were reported to FMCSA, regardless of fault. Similarly, all inspections, with or without violations, appear on the PSP report. State
                                citations associated with Federal Motor Carrier Safety Regulations (FMCSR) violations that have been adjudicated by a court of law
                                will also appear, and remain, on a PSP report.</p>
                              <p>The Prospective Employer cannot obtain background reports from FMCSA without your authorization.</p>
                              <h4 class="font-weight-700 text-center">AUTHORIZATION
                              </h4>
                              <p>If you agree that the Prospective Employer may obtain such background reports, please read the following and sign below:</p>
                              <p>I authorize _______________________ (“Prospective Employer”) to access the FMCSA Pre-Employment Screening Program (PSP)
                                system to seek information regarding my commercial driving safety record and information regarding my safety inspection history. I
                                understand that I am authorizing the release of safety performance information including crash data from the previous five (5) years
                                and inspection history from the previous three (3) years. I understand and acknowledge that this release of information may assist the
                                Prospective Employer to make a determination regarding my suitability as an employee.</p>
                              <p>I further understand that neither the Prospective Employer nor the FMCSA contractor supplying the crash and safety information has
                                the capability to correct any safety data that appears to be incorrect. I understand I may challenge the accuracy of the data by
                                submitting a request to https://dataqs.fmcsa.dot.gov. If I challenge crash or inspection information reported by a State, FMCSA cannot
                                change or correct this data. I understand my request will be forwarded by the DataQs system to the appropriate State for adjudication</p>

                              <p>I understand that any crash or inspection in which I was involved will display on my PSP report. Since the PSP report does not report,
                                or assign, or imply fault, I acknowledge it will include all CMV crashes where I was a driver or co-driver and where those crashes
                                were reported to FMCSA, regardless of fault. Similarly, I understand all inspections, with or without violations, will appear on my
                                PSP report, and State citations associated with FMCSR violations that have been adjudicated by a court of law will also appear, and
                                remain, on my PSP report.
                                I have read the above Disclosure Regarding Background Reports provided to me by Prospective Employer and I understand that if I
                                sign this Disclosure and Authorization, Prospective Employer may obtain a report of my crash and inspection history. I hereby
                                authorize Prospective Employer and its employees, authorized agents, and/or affiliates to obtain the information authorized above.</p>

                                <form class="row">
                                          <div class="col-md-6 mt-3">
                                            <label for="validationDefault01" class="form-label"> Date
                                            </label> 
                                            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
                                          </div>
                                          <div class="col-md-6 mt-3">
                                            <label for="validationDefault01" class="form-label"> Signature
                                            </label> 
                                            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
                                          </div> 
                                          <div class="col-md-6 mt-3">
                                            &nbsp;    
                                          </div>  
                                          <div class="col-md-6 mt-3">
                                            <label for="validationDefault01" class="form-label"> Name (Please Print)
                                            </label> 
                                            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
                                          </div>                  
                                </form>
                                <p class="mt-5">NOTICE: This form is made available to monthly account holders by NIC on behalf of the U.S. Department of Transportation,
                                  Federal Motor Carrier Safety Administration (FMCSA). Account holders are required by federal law to obtain an Applicant’s written
                                  or electronic consent prior to accessing the Applicant’s PSP report. Further, account holders are required by FMCSA to use the
                                  language contained in this Disclosure and Authorization form to obtain an Applicant’s consent. The language must be used in whole,
                                  exactly as provided. Further, the language on this form must exist as one stand-alone document. The language may NOT be included
                                  with other consent forms or any other language.</p>
                                <p>NOTICE: The prospective employment concept referenced in this form contemplates the definition of “employee” contained at 49
                                  C.F.R. 383.5.</p>
                            </div>
                            
              
                  </div>
              </div>
          </div>
        </div>
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="text-dark text-center">
      <span class="text-muted fw-semibold me-1">2023© all rights reserved</span>
      <a href="#" class="font-weight-700 text-hover-dark text-dark text-uppercase">3PL TEK INC.</a>
    </div>

  </footer><!-- End Footer -->

  