<div style="
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  margin: 0;
  padding: 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);">
  <h5 style="margin: 0; padding: 10px;">Add Form</h5>
  <hr style="border: 0; border-top: 0.5px solid #b6b6b6; margin: 0;">
</div>
 
 
 
<nav id="sidebar">
   
    <ul class="list-unstyled components">
        <li class="pb-2">
            <a routerLink="/employment-application-form"><i aria-hidden="true"></i><span class="ms-2">Employment Application
              <br> Form</span></a>
           
          </li>
          <li class="pb-2">
            <a  routerLink="/drug-policy"><i aria-hidden="true"></i><span class="ms-2">Drug Policy</span></a>
          </li>
          <li class="pb-2">
            <a routerLink="/clearing-house-consent-form"><i></i><span class="ms-2">Clearing House Consent</span></a>
          </li>
          <li class="pb-2">
            <a routerLink="/background-consent-form"><i></i><span class="ms-2">Background Consent Form</span></a>
          </li>
          <li class="pb-2">
            <a  routerLink="/mvr-form"><i></i><span class="ms-2">MVR Form</span></a>
          </li>
          <li class="pb-2">
            <a  routerLink="/sph-form"><i aria-hidden="true"></i><span class="ms-2">SPH Form</span></a>
          </li>
          <li class="pb-2">
            <a  routerLink="/annual-review-from"><i  aria-hidden="true"></i><span class="ms-2">Annual Review Form</span></a>
          </li>
          <li class="pb-2">
            <a  routerLink="/hos-service-record"><i  aria-hidden="true"></i><span class="ms-2">HOS Service Record </span></a>
          </li>
          <li class="pb-2">
            <a  routerLink="/i-9-form"><i  aria-hidden="true"></i><span class="ms-2">I-9 Form </span></a>
          </li>
          <li class="pb-2">
            <a  routerLink="/road-test-form"><i  aria-hidden="true"></i><span class="ms-2">Road Test Form</span></a>
          </li>
          <li class="pb-2">
            <a  routerLink="/w-9-form"><i  aria-hidden="true"></i><span class="ms-2">W9 Form </span></a>
          </li>
          <li class="pb-2">
            <a  routerLink="/psp-form"><i  aria-hidden="true"></i><span class="ms-2">PSP Form</span></a>
          </li>
     
    </ul>
    </nav>
 