.full-width {
    width: calc(100% - 0px);  /* Full width minus 10px */
    margin-left: 0;  /* Default position */
    transition: all 0.3s ease;
  }
 
  .shift-right {
    width: calc(100% - 200px);  /* Sidebar width = 250px, page adjusts only from left */
    margin-left: 200px; /* Push content to the right */
    transition: all 0.3s ease;
  }
 
  .bg-gray {
    background-color: rgb(187, 187, 187);
 
  }

  .shift-rights {
    margin-left: calc(100px + 0px); /* Adjust as needed */
  }


  #footer {
    background-color:rgb(187, 187, 187) !important;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

