 
<header id="header" class="header d-flex align-items-center justify-content-between"
[ngClass]="{'header-collapsed': !isNavbarOpen}">
<div class="d-flex align-items-center justify-content-between">
  <a routerLink="/dashboard" class="logo d-flex align-items-center" style="margin-left: 8px;">
  </a>
</div>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<button class="navbar-togglers" type="button" (click)="toggleNavbar()" aria-label="Toggle navigation" >
  <i class="ri-menu-2-line"></i>
</button>
 

<div class="header-content-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light">
   
    <div class="navbar-collapse" [ngClass]="{'collapse': !isNavbarOpen}" style="margin-right: 100px;">
      <ul class="navbar-nav custom-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
       
        <li class="nav-item" *ngIf="selectedCompany">
          <a class="nav-link" (click)="goToCompanyProfile()" style="cursor: pointer;"  routerLinkActive="active">Company Profile</a>
         </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/truck-list" routerLinkActive="active">Truck List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trailer-list" routerLinkActive="active">Trailer List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/driver-list" routerLinkActive="active">Driver List</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/pre-screening-list" routerLinkActive="active">Pre Screening</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/driver-application" routerLinkActive="active">Driver Application</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/file-manager" routerLinkActive="active">File Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item" *ngIf="selectedCompany">
          <a  routerLink="/expiry" routerLinkActive="active" class="nav-link">
            Expiry
          </a>
        </li>
       
      </ul>
    </div>
  </nav>
</div>


<nav class="header-nav">
  <ul class="d-flex align-items-center">
    <li class="nav-item d-block d-lg-none">
      <a class="nav-link nav-icon search-bar-toggle " href="#">
        <i class="bi bi-search"></i>
      </a>
    </li>
    


  
    <li class="nav-item dropdown pe-3">
       <a class="nav-link nav-profile d-flex align-items-center pe-0 d-none d-lg-flex"
     href="javascript:void(0)"
     (click)="toggleProfileDropdown()">
    <span class="menu-icon"><i class="ri-user-3-line"></i></span>
    <span class="menu-title">Profile</span>
  </a>
      <!-- <a class="nav-link nav-profile d-flex align-items-center pe-0 d-none d-lg-flex" href="#" data-bs-toggle="dropdown">
        <span class="menu-icon"><i class="ri-user-3-line"></i></span>
        <span class="menu-title">Profile</span>
      </a> -->
      <a class="nav-link nav-profile d-block d-lg-none" href="#" data-bs-toggle="dropdown">
        <span class="menu-icon"><i class="ri-user-3-line"></i></span>
      </a>
     <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
      [class.show]="isProfileDropdownOpen"
      [style.display]="isProfileDropdownOpen ? 'block' : 'none'">
        <li class="dropdown-header">
          <h6>{{name}}</h6>
       
        </li>
        <li><hr class="dropdown-divider"></li>
        <!-- <li>
          <a class="dropdown-item d-flex align-items-center" routerLink="/users-profile-view" >
            <i class="bi bi-person"></i>
            <span>My Profile</span>
          </a>
        </li> -->
        <li>
   
        </li>
        <li>
     
        </li>
        <li>
          <a class="dropdown-item d-flex align-items-center" routerLink="/login">
            <i class="bi bi-box-arrow-right"></i>
            <span>Sign Out</span>
          </a>
        </li>

      </ul>
    </li>
  </ul>
</nav>

</header>
<nav id="sidebar" [ngClass]="{'active': isNavbarOpen}" [style.width]="isNavbarOpen ? '250px' : '60px'" style="margin-right: 20px;">
<div class="sidebar-header">
  <div class="pro-sidebar-logo" style="display: flex; align-items: center; gap: 13px;">
    <div class="icon">
      <img src="assets/img/mobile-logo.png" class="img-fluid">
    </div>
    <div class="icon-text" *ngIf="isNavbarOpen">
      <img src="assets/img/logo-text.png" class="img-fluid">
    </div>
  </div>
</div>

<!-- Toggle Button -->
<!-- <button class="sidebar-toggler" type="button" (click)="toggleNavbar()" aria-label="Toggle navigation"
[ngStyle]="{'left': isNavbarOpen ? '280px' : '80px'}">
<i class="ri-menu-2-line"></i>
</button> -->

<ul style="margin-left: 15px;">

  <!-- <li class="nav-item" *ngIf="selectedCompany">
    <a class="nav-link" (click)="goToCompanyProfile()" style="cursor: pointer;"  routerLinkActive="active">Company Profile</a>
   </li> -->



   <li class="menu-item" *ngIf="selectedCompany">
   <a class="nav-link" (click)="goToCompanyProfile()" style="cursor: pointer;"  routerLinkActive="active" routerLink="/company-profile-view">
       <span class="menu-icon"><i class="ri-shield-user-line"></i></span>
       <span class="menu-title">Company Profile</span>
   </a>
</li>


   <!-- <li class="menu-item" *ngIf="selectedCompany">
    <a class="nav-link" (click)="goToCompanyProfile()" style="cursor: pointer;"  routerLinkActive="active" routerLink="/company-profile-view">
        <span class="menu-icon"><i class="ri-shield-user-line"></i></span>
        <span class="menu-title">Company Profile</span>
    </a>
</li> -->

<!-- <li class="menu-item">
    <a routerLink="/company-profile-view">
        <span class="menu-icon"><i class="ri-shield-user-line"></i></span>
        <span class="menu-title">Company Profile</span>
    </a>
</li> -->

<li class="menu-item">
    <a routerLink="/truck-list">
        <span class="menu-icon"><i class="ri-file-text-line"></i></span>
        <span class="menu-title">Truck List</span>
    </a>
</li>
<li class="menu-item">
    <a routerLink="/trailer-list">
        <span class="menu-icon"><i class="ri-file-list-3-line"></i></span>
        <span class="menu-title">Trailer List</span>
    </a>
</li>
<li class="menu-item">
    <a routerLink="/driver-list">
        <span class="menu-icon"><i class="ri-file-copy-2-line"></i></span>
        <span class="menu-title">Driver List</span>
    </a>
</li>
<li class="menu-item">
  <a routerLink="/accountpermits">
      <span class="menu-icon"><i class="ri-user-settings-line"></i></span>
      <span class="menu-title">Accounting</span>
  </a> 
</li>
<li class="menu-item">
  <a routerLink="/vendor">
      <span class="menu-icon"><i class="ri-store-3-line"></i></span>
      <span class="menu-title">Vendor</span>
  </a>
</li>
<li class="menu-item">
  <a routerLink="/servicess">
      <span class="menu-icon"><i class="ri-settings-3-line"></i></span>
      <span class="menu-title">Services</span>
  </a>
</li>

<li class="menu-item">
  <a routerLink="/task-manager">
     <span class="menu-icon"><i class="ri-task-line"></i></span>
      <span class="menu-title">Task Manager</span>
  </a>
</li>

<li class="menu-item">
  <a routerLink="/crm">
      <span class="menu-icon"><i class="ri-team-line"></i></span>
      <span class="menu-title">CRM</span>
  </a>
</li>

<li class="menu-item">
  <a routerLink="/customer">
      <span class="menu-icon"><i class="ri-group-line"></i></span>
      <span class="menu-title">Customer</span>
  </a>
</li>

<!-- <li class="menu-item">
    <a routerLink="/pre-screening-list">
        <span class="menu-icon"><i class="ri-search-2-line"></i></span>
        <span class="menu-title">Pre Screening</span>
    </a>
</li> -->
<li class="menu-item">
    <a routerLink="/driver-application">
        <span class="menu-icon"><i class="ri-article-line"></i></span>
        <span class="menu-title">Driver Application</span>
    </a>
</li>
<li class="menu-item">
    <a routerLink="/file-manager">
        <span class="menu-icon"><i class="ri-folder-2-line"></i></span>
        <span class="menu-title">File Manager</span>
    </a>
</li>

<li class="menu-item">
    <a routerLink="/users">
        <span class="menu-icon"><i class="ri-user-3-line"></i></span>
        <span class="menu-title">Users</span>
    </a>
</li>
<li class="menu-item">
  <a routerLink="/password-manager">
      <span class="menu-icon"><i class="ri-lock-password-line"></i></span>
      <span class="menu-title">Password Manager</span>
  </a>
</li>
<li class="menu-item">
  <a routerLink="/expiry">
      <span class="menu-icon"><i class="ri-time-line"></i></span>
      <span class="menu-title">Expiry</span>
  </a>
</li>
</ul>
</nav>



















