<app-sidebar></app-sidebar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>




<main id="main" class="main mt-5 p-0" style="margin-left: 250px;  ">
  <div id="kt_app_content" class="app-content flex-column-fluid">
      <div class="container-fluid px-6">
 
        <div class="row bg-white px-3 py-4 mt-3 rounded">
            <div class="col-md-16">
 
                           

                            <div class="pb-1 mt-5">
                              <h1 class="text-center">Employment Eligibility Verification</h1>
                              <h2 class="text-center">Department of Homeland Security</h2>
                              <h3 class="text-center">U.S. Citizenship and Immigration Services (USCIS)</h3>
                              <p><strong>Form I-9</strong></p>
                              <p><strong>OMB No. 1615-0047</strong></p>
                              <p><strong>Expires 05/31/2027</strong></p>
                              <hr>
    <h3>START HERE:</h3>
    <p>Employers must ensure the form instructions are available to employees when completing this form. Employers are liable for failing to comply with the requirements for completing this form. See below and the Instructions.</p>

    <h4>ANTI-DISCRIMINATION NOTICE:</h4>
    <p>All employees can choose which acceptable documentation to present for Form I-9. Employers cannot ask employees for documentation to verify information in Section 1, or specify which acceptable documentation employees must present for Section 2 or Supplement B, Reverification and Rehire. Treating employees differently based on their citizenship, immigration status, or national origin may be illegal.</p>

    <h3>Section 1: Employee Information and Attestation</h3>
    <p>Employees must complete and sign Section 1 of Form I-9 no later than the first day of employment, but not before accepting a job offer.</p>
    <form class="row" style="border: 1px solid;">
        <h4><b>Section 1. Employee Information and Attestation: Employees must complete and sign Section 1 of Form I-9 no later than the first
          day of employment,</b> but not before accepting a job offer.</h4>
          <div class="col-md-3 mt-3">
            <label for="validationDefault01" class="form-label"> Last Name (Family Name)</label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
          </div>
          <div class="col-md-3 mt-3">
            <label for="validationDefault01" class="form-label"> First Name (Given Name)</label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
          </div>
          <div class="col-md-3 mt-3">
            <label for="validationDefault01" class="form-label"> Middle Initial (if any) </label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
          </div>
          <div class="col-md-3 mt-3">
            <label for="validationDefault01" class="form-label"> Other Last Names Used (if any)</label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
          </div>
          <div class="row">
            <div class="col-md-3 mt-3">
              <label for="validationDefault01" class="form-label"> Address (Street Number and Name)</label> 
              <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
            </div>
            <div class="col-md-2 mt-3">
              <label for="validationDefault01" class="form-label"> Apt. Number (if any)</label> 
              <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
            </div>
            <div class="col-md-3 mt-3">
              <label for="validationDefault01" class="form-label"> City or Town </label> 
              <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
            </div>
            <div class="col-md-2 mt-3">
              <label for="validationDefault01" class="form-label"> State</label> 
              <select class="form-control dp-form">
                <option>State1</option>
                <option>State2</option>
              </select>     
            </div>
            <div class="col-md-2 mt-3">
              <label for="validationDefault01" class="form-label"> ZIP Code</label> 
              <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mt-3">
              <label for="validationDefault01" class="form-label"> Date of Birth (mm/dd/yyyy)</label> 
              <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
            </div>
            <div class="col-md-3 mt-3">
              <label for="validationDefault01" class="form-label"> U.S. Social Security Number</label> 
              <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
            </div>
            <div class="col-md-3 mt-3">
              <label for="validationDefault01" class="form-label"> Employee's Email Address </label> 
              <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
            </div>
            <div class="col-md-3 mt-3">
              <label for="validationDefault01" class="form-label"> Employee's Telephone Number</label> 
              <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3 mt-5"style="border: 1px solid;">
              <p class="font-weight-700 p-3" >I am aware that federal law
                provides for imprisonment and/or
                fines for false statements, or the
                use of false documents, in
                connection with the completion of
                this form. I attest, under penalty
                of perjury, that this information,
                including my selection of the box
                attesting to my citizenship or
                immigration status, is true and
                correct.</p>   
            </div>
            <div class="col-md-9 mt-5" style="border: 1px solid;">
              <p class="mt-4">Check one of the following boxes to attest to your citizenship or immigration status (See page 2 and 3 of the instructions.):</p>
              <p class="border-bottom"><input type="checkbox"> 1. A citizen of the United States </p>
              <p class="border-bottom"><input type="checkbox"> 2. A noncitizen national of the United States (See Instructions.) </p>
              <p class="border-bottom"><input type="checkbox"> 3. A lawful permanent resident (Enter USCIS or A-Number.) <input type="text"></p>
              <p class="border-bottom"><input type="checkbox"> 4. A noncitizen (other than Item Numbers 2. and 3. above) authorized to work until (exp. date, if any) <input type="text"></p>
              <p>If you check Item Number 4., enter one of these:</p>
              
                <form>
                  <div class="row mb-3">
                    <div class="col-md-4 mt-3">
                      <label for="validationDefault01" class="form-label"> USCIS A-Number</label> 
                      <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
                    </div>
                    <div class="col-md-3 mt-3">
                      <label for="validationDefault01" class="form-label"> Form I-94 Admission Number</label> 
                      <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
                    </div>
                    <div class="col-md-5 mt-3">
                      <label for="validationDefault01" class="form-label"> Foreign Passport Number and Country of Issuance</label> 
                      <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
                    </div>
                  </div>
                </form>
            </div>
            <div class="row mt-3">
              <div class="col-md-6 mt-3">
                <label for="validationDefault01" class="form-label"> Signature of Employee</label> 
                <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
              </div>
              <div class="col-md-6 mt-3">
                <label for="validationDefault01" class="form-label"> Today's Date (mm/dd/yyyy)</label> 
                <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">     
              </div>
            </div>
          </div>
    </form>

    <div class="row mt-3">
      <h3>Section 2: Employer Review and Verification</h3>
    <p>Section 2. Employer Review and Verification: Employers or their authorized representative must complete and sign Section 2 within three
      business days after the employee's first day of employment, and must physically examine, or examine consistent with an alternative procedure
      authorized by the Secretary of DHS, documentation from List A OR a combination of documentation from List B and List C. Enter any additional
      documentation in the Additional Information box; see Instructions.</p>
      <form>
        <div class="row mb-3">
          <div class="col-md-5 mt-3">
            <table class="table table-bordered border-dark">                              
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>List A</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Document Title 1</b></td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td>Issuing Authority</td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td>Document Number (if any)</td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td>Expiration Date (if any)</td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td><b>Document Title 2 (if any)</b></td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td>Issuing Authority</td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td>Document Number (if any)</td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td>Expiration Date (if any)</td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td><b>Document Title 3 (if any)</b></td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td>Issuing Authority</td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td>Document Number (if any)</td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                <tr>
                  <td>Expiration Date (if any)</td>
                  <td><input type="text" class="form-control "></td>
                </tr>
                
              </tbody>
            </table>
          </div>
          OR
          <div class="col-md-6 mt-3">
            <table class="table table-bordered border-dark">                              
              <thead>
                <tr>
                  <th>List B</th>
                  <th>List C</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <h4 class="border p-3">Additional Information</h4>
            <p><input type="checkbox" style="margin-top: 80px;"> Check here if you used an alternative procedure authorized by DHS to examine documents.</p>
          </div>
          
        </div>
        <div class="row border p-3">
          <div class="col-md-10">
            <p class="font-weight-700">Certification: I attest, under penalty of perjury, that (1) I have examined the documentation presented by the above-named
            employee, (2) the above-listed documentation appears to be genuine and to relate to the employee named, and (3) to the
            best of my knowledge, the employee is authorized to work in the United States.</p>
          </div>
          <div class="col-md-2" style="border-left: 1px solid;">
            <label for="validationDefault01" class="form-label"> Last Name (Family Name)</label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">   
          </div>
          <div class="col-md-6 mt-3">
            <label for="validationDefault01" class="form-label"> Last Name, First Name and Title of Employer or Authorized Representative</label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">   
          </div>
          <div class="col-md-4 mt-3">
            <label for="validationDefault01" class="form-label"> Signature of Employer or Authorized Representative</label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">   
          </div>
          <div class="col-md-2 mt-3">
            <label for="validationDefault01" class="form-label"> Today's Date (mm/dd/yyyy)</label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">   
          </div>
          <div class="col-md-4 mt-3">
            <label for="validationDefault01" class="form-label"> Employer's Business or Organization Name</label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">   
          </div>
          <div class="col-md-8 mt-3">
            <label for="validationDefault01" class="form-label"> Employer's Business or Organization Address, City or Town, State, ZIP Code</label> 
            <input type="text" class="form-control dp-form" id="validationDefault01" value="" required="">   
          </div>
        </div>
      </form>
    </div>

    


                            </div>

                            
              
                  </div>
              </div>
          </div>
        </div>
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="text-dark text-center">
      <span class="text-muted fw-semibold me-1">2023© all rights reserved</span>
      <a href="#" class="font-weight-700 text-hover-dark text-dark text-uppercase">3PL TEK INC.</a>
    </div>

  </footer><!-- End Footer -->

 